*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    height: 100vh;
    display: grid;
    padding: 40px;
    grid-template-areas: 
        "nav nav"
        "main header"
        "footer footer";
    grid-template-columns: 1fr 40px;
    grid-template-rows: 50px 1fr 50px;
    background-image: url(./img/wallpaper4.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Saira Condensed', sans-serif;
    font-size: 20px;
}
nav{
    background-color: #807155; 
    opacity:0.7;
    border-radius: 35px;
    grid-area: nav;
    height: 35px;
}

.menu{
    display: flex;
    justify-content: center;
    gap: 25px;
    list-style: none;
    text-decoration: none;
    font-weight: bold
    
}

a{
    color:  white;
    text-decoration: none;
}



header{
    grid-area: header;
    display: grid;
    place-items: end
;
}

main{
    grid-area: main;
    height: 500px;
    width: 800px;
}

.texto{
    grid-area: texto;
    height: 220px;
    width: 550px;
}

.videos{
    height: 100px;
    width: 700px;
    
    gap: 25px;
}


footer{
    grid-area: footer;
}

.rick-image{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(50%, 0);
}
